.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} 

img {
    display: block;
    max-width: 100%;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.container {
    padding-right: 16px;
    padding-left: 16px;
}

.container-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Header */

/* Hero*/
.hero{
    max-width: 320px;
        background: #2E2F42;
        padding-top: 72px;
        padding-bottom: 72px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: auto;
        margin-left: auto;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url('../images/Mobile/Dark-bg.jpg');
}

.hero-title{
    display: block;
    max-width: 170px;
    color:  #FFF;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
        margin-left: auto;
        margin-right: auto;
}

.service-btn{
    display: block;
        min-width: 169px;
        
        height: 56px;
        margin: 0 auto;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background: #4D5AE5;
        color: #FFFFFF;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}

.buttom {
    padding: 16px 32px;
    gap: 10px;
}

.service-btn:hover,
.service-btn:focus {
    background: #404BBF;

}

/* Section 2 mobile */

.start-list-title{
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.start-list-text{
    color: #434455;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-top: 8px;
        margin-bottom: 72px;
}

/* section 3 */
.team {
    background: #F4F4FD;
}

.team-title {
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-title-list {
    display: flex;
flex-direction: column;


    }

.team-item {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    flex-wrap: wrap;
    margin-bottom: 72px;
}

.team-img-title {
    margin-bottom: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.team-img{
   margin-left: auto;
   margin-right: auto;
}
.team-img-text {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}

.text-container {
    padding: 32px 0;
    margin-right: auto;
    margin-left: auto;
}

.social-list-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.link-list {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 32px;
}

.icon-link {
    fill: #F4F4FD;
}

.social-list-item {
    width: 40px;
    height: 40px;
}

.social-list-link {
display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus{
    background-color: #404BBF;
}
/* portfolio */

.portfolio-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-title-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;

}

.portfolio-container {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}


.portfolio-img-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-img-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.overlay-wraper {
    position: relative;
    overflow: hidden;
}

.overlay-portfolio {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #4D5AE5;
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title-item:hover .overlay-portfolio {
    transform: translateY(0%);

}

.portfolio-title-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* footer */

.page-footer{
    background: #2E2F42;
}

.container-footer {
    display: flex;
    align-items: baseline;
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 16px;
}

.logotype-footer {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
  
}

.plane-name-sudio {
    color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;

}


.social-footer-title {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.social-footer-list {
    display: flex;
    gap: 16px;
}

.social-footer-link {
    display: flex;
    line-height: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    padding: 8px;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-link:hover,
.social-footer-link:focus {
    background-color: #31D0AA;
}

.icon-footer {
    fill: #F4F4FD;
}

.social-footer-item {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-text {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.form {
    display: flex;

}


.form-name-input {
    
    height: 40px;
    padding-left: 16px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    color: #FFF;
}

.form-name-input::placeholder {
    color: #FFFFFF;
}


.form-bth {
    display: inline-flex;
    border: none;
    min-width: 165px;
    border-radius: 4px;
    background: #4D5AE5;
    padding: 8px 24px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mail-send {
    margin-left: 16px;
}

.form-bth:hover,
.form-bth:focus {
    background: #404BBF;
}
/* Mobile */


@media screen and (min-width: 320px){
.container{
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    display: none;
}

.contact {
    display: none;
}

.page-header {
    padding-top: 17.5px;
    padding-bottom: 17.5px;
}

.logotype {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.plane-name {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.mobile-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    fill: #2F2F37;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    transform: translateX(0%);
}



.mobile-menu-container {
    display: flex;
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
height: 100%;

}

.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-color: #E7E9FC;
    stroke-width: 1px;
    fill: #2E2F42;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 0;
}
.mobile-menu-link {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.mobile-menu-link:focus{
    color: #404BBF;
}
.mobile-menu-item{
    margin-bottom: 40px;
}
.mobile-contact-list-item{
    margin-top: 24px;
}
.mobile-contact-list-link {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.mobile-contact-list-link:focus {
    color: #404BBF;
}

.mobile-social-list {
    display: flex;
    gap: 40px;
}

.mobile-social-link {
    display: flex;
    line-height: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    padding: 8px;
    align-items: center;
    justify-content: center;

}

.icon-mobile {
    fill: #F4F4FD;
}
/* hero mobile */


.icon-container {
    display: none;
}

/* section 2 mobile */

.start-list-item {
    width: 288px;
}

        /* footer mobile */

.container-footer{
flex-direction: column;
align-items: center;

}
.logo-footer {
    text-align: center;
    margin-top: 97.5px;
}
.logotype-footer{
margin-bottom: 17.5px;
align-content: center;
}

.social-footer-title{
text-align: center;
}
.social-footer {
    margin: 72px 0;
}

.subscribe-form-text{
    text-align: center;
}

.form{
    flex-direction: column;
    gap:16px;
}
.form-name-input{
    width: 288px;
}

.form-bth{
    margin-bottom: 96px;
    max-width: 165px;
    margin-left: auto;
    margin-right: auto;
}

.footer-text{
    width: 288px;
    text-align: left;
}

}

@media screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/Mobile/Dark-bg@2x.jpg');
    }



}

/* Tablet */
@media screen and (min-width: 768px){
    .container{
        width: 768px;}
    
}

/* Descktop */
@media screen and (min-width: 1158px) {
.container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;

    }
}